Repository kubernetes/kubeadm, pull requests merged in 2019-08, with the labels that each got.

#1702 Kinder: Test file discovery
  kinder/README.md
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/discovery-master.yaml
  kinder/cmd/kinder/do/do.go
  kinder/doc/getting-started.md
  kinder/doc/kind-kinder.md
  kinder/doc/reference.md
  kinder/doc/test-HA.md
  kinder/doc/test-XonY.md
  kinder/go.mod
  kinder/go.sum
  kinder/pkg/cluster/cmd/proxycmd.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-reset.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/cluster/manager/actions/loadbalancer.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cri.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cluster/status/nodelist.go
  kinder/pkg/constants/constants.go
  kinder/pkg/cri/confighelper.go
  kinder/pkg/cri/containerd/actionhelper.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL

#1706 contributing.md: fix broken link for testing-pre-releases.md
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1707 kinder: fix minor bugs in verify-gofmt.sh
  kinder/hack/verify-gofmt.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#1720 cleanup: correct misspelled words in help message
  kinder/cmd/kinder/do/do.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1725 cleanup typos in node.go
  kinder/pkg/cluster/status/node.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#1722 updated confusing command help text
  kinder/cmd/kinder/create/create.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1728 fix misspelled words in runner.go
  kinder/pkg/test/e2e/runner.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1729 fix wrong spells in confighelper.go
  kinder/pkg/cri/confighelper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1730 cleanup typos in extract.go
  kinder/pkg/extract/extract.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#1732 fix some comment typos in config.go
  kinder/third_party/kind/kubeadm/config.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1724 Kinder: add support for testing kubeadm-kustomize
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/kustomize-master.yaml
  kinder/cmd/kinder/do/do.go
  kinder/cmd/kinder/exec/exec.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/copy-certs.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/cluster/manager/actions/waiter.go
  kinder/pkg/constants/constants.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1734 fix typo in readme.md
  kinder/third_party/kind/readme.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1735 fix mis-spelling in createhelper.go
  kinder/pkg/cri/containerd/createhelper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1703 kinder: use only the public kind config and wrap it
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/config/config.go
  kinder/third_party/kind/config/defaults.go
  kinder/third_party/kind/config/readme.md
  kinder/third_party/kind/config/validate.go
  kinder/third_party/kind/config/validate_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1736 fix mis-spelling in runner.go
  kinder/pkg/test/e2e/runner.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1737 kinder: add hack/verify-staticcheck.sh
  kinder/cmd/kinder/get/artifacts/artifacts.go
  kinder/hack/verify-all.sh
  kinder/hack/verify-staticcheck.sh
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/containerd/actionhelper.go
  kinder/pkg/cri/docker/actionhelper.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/backlog, sig/cluster-lifecycle, size/M

#1741 fix mis-spelling in updating-command-reference.md
  docs/updating-command-reference.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1740 fix typo in kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1748 fir typo "deamon" -> "daemon"
  kinder/pkg/cri/docker/createhelper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1758 cleanup: fix mis-spelling in createhelper.go
  kinder/pkg/cri/docker/createhelper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1760 Set calico `rp_filter` sysctl for all nodes (including load-balancer)
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/XS

#1761 verify_manifest_lists: skip cloud-controller-manager for 1.16
  tests/e2e/manifests/verify_manifest_lists.go
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, area/testing, cncf-cla: yes, do-not-merge/hold, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1762 Set rp_filter sysctl on k8s nodes only -- etcd has readOnly fs
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/XS
