Repository kubernetes/kubeadm, pull requests merged in 2019-10, with the labels that each got.

#1823 tests/e2e/manifests: fix correct usage of go modules
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1824 kubeadm operator - inital-commit
  go.mod
  operator/.gitignore
  operator/Dockerfile
  operator/Makefile
  operator/PROJECT
  operator/config/certmanager/certificate.yaml
  operator/config/certmanager/kustomization.yaml
  operator/config/certmanager/kustomizeconfig.yaml
  operator/config/default/kustomization.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/default/manager_prometheus_metrics_patch.yaml
  operator/config/default/manager_webhook_patch.yaml
  operator/config/default/webhookcainjection_patch.yaml
  operator/config/manager/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/auth_proxy_role.yaml
  operator/config/rbac/auth_proxy_role_binding.yaml
  operator/config/rbac/auth_proxy_service.yaml
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/leader_election_role.yaml
  operator/config/rbac/leader_election_role_binding.yaml
  operator/config/rbac/role_binding.yaml
  operator/config/webhook/kustomization.yaml
  operator/config/webhook/kustomizeconfig.yaml
  operator/config/webhook/service.yaml
  operator/go.mod
  operator/go.sum
  operator/hack/boilerplate.go.txt
  operator/hack/fetch_bins.sh
  operator/hack/set-workspace-status.sh
  operator/hack/tools/go.mod
  operator/hack/tools/go.sum
  operator/hack/tools/tools.go
  operator/hack/update-all.sh
  operator/hack/update-deps.sh
  operator/hack/update-gofmt.sh
  operator/hack/update-goimports.sh
  operator/hack/utils.sh
  operator/hack/verify-all.sh
  operator/hack/verify-boilerplate.go
  operator/hack/verify-boilerplate.sh
  operator/hack/verify-boilerplate_test.go
  operator/hack/verify-build.sh
  operator/hack/verify-deps.sh
  operator/hack/verify-docker-build.sh
  operator/hack/verify-gofmt.sh
  operator/hack/verify-goimports.sh
  operator/hack/verify-golint.sh
  operator/hack/verify-gotest.sh
  operator/hack/verify-govet.sh
  operator/hack/verify-shellcheck.sh
  operator/hack/verify-spelling.sh
  operator/hack/verify-whitespace.sh
  operator/main.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XXL

#1831 tests/e2e/manifests: fix missing module name
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1833 kinder: fix flakiness due to delay on publishing artifacts
  kinder/pkg/extract/extract.go
Labels: approved, area/kinder, area/testing, cncf-cla: yes, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/M

#1836 kinder: increase timeout for pulling artifacts
  kinder/pkg/extract/extract.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#1838 kinder: fix-calico
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1840 kinder: use a hardcoded manifest when applying CNI
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/data/calicomanifests.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XL

#1834 kubeadm-operator: first draft of the API
  operator/Dockerfile
  operator/PROJECT
  operator/README.md
  operator/api/v1alpha1/command_descriptor_types.go
  operator/api/v1alpha1/groupversion_info.go
  operator/api/v1alpha1/operation_descriptor_types.go
  operator/api/v1alpha1/operation_execution_mode.go
  operator/api/v1alpha1/operation_types.go
  operator/api/v1alpha1/operator_phase_types.go
  operator/api/v1alpha1/runtimetask_phase_types.go
  operator/api/v1alpha1/runtimetask_recovery_strategy.go
  operator/api/v1alpha1/runtimetask_types.go
  operator/api/v1alpha1/runtimetaskgroup_create_strategy.go
  operator/api/v1alpha1/runtimetaskgroup_node_filter.go
  operator/api/v1alpha1/runtimetaskgroup_phase_types.go
  operator/api/v1alpha1/runtimetaskgroup_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_operations.yaml
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetaskgroups.yaml
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetasks.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/kustomizeconfig.yaml
  operator/config/crd/patches/cainjection_in_operations.yaml
  operator/config/crd/patches/cainjection_in_runtimetaskgroups.yaml
  operator/config/crd/patches/cainjection_in_runtimetasks.yaml
  operator/config/crd/patches/webhook_in_operations.yaml
  operator/config/crd/patches/webhook_in_runtimetaskgroups.yaml
  operator/config/crd/patches/webhook_in_runtimetasks.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/operator_v1alpha1_operation.yaml
  operator/config/samples/operator_v1alpha1_runtimetask.yaml
  operator/config/samples/operator_v1alpha1_runtimetaskgroup.yaml
  operator/config/webhook/manifests.yaml
  operator/controllers/operation_controller.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/suite_test.go
  operator/errors/operation.go
  operator/errors/runtimetask.go
  operator/errors/runtimetaskgroup.go
  operator/go.mod
  operator/main.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XXL

#1845 tests/e2e/manifests: don't test hyperkube for 1.17 and later
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1848 kubeadm-operator: implement the operation controller
  operator/Dockerfile
  operator/api/v1alpha1/labels.go
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetaskgroups.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/role.yaml
  operator/controllers/operation_controller.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/runtimetaskgroup_reconcile.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/operations/custom.go
  operator/operations/factory.go
  operator/operations/renewcertificates.go
  operator/operations/upgrade.go
  operator/operations/util.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XXL

#1865 fix E2E upgrade 1.16 master failures
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/S

#1861 kubeadm-operator: implement the taskgroup controller
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/util.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XL
