Repository kubernetes/kubeadm, pull requests merged in 2019-12, with the labels that each got.

#1947 kinder: roadmap update
  kinder/doc/kind-kinder.md
  kinder/roadmap.md
Labels: approved, area/kinder, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/S

#1946 kinder: don't use "docker cp /dev/stdin"
  kinder/pkg/cluster/manager/actions/copy-certs.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/loadbalancer.go
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1964 kinder: fix WriteFile
  kinder/pkg/cluster/status/node.go
Labels: approved, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1952 kinder: add --volume option to configure mount volumes on containers
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/M

#1945 Kinder: remove-kind-exec
  kinder/doc/kind-kinder.md
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/base/base.go
  kinder/pkg/build/bits/installer.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cluster/status/cri.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
  kinder/pkg/exec/colors/color.go
  kinder/pkg/exec/host-cmd.go
  kinder/pkg/exec/node-cmd.go
  kinder/pkg/test/e2e/binary.go
  kinder/pkg/test/e2e/runner.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/L

#1972 two pic err
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1957 kinder: use a short list of ignored preflight errors
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1975 kinder: enable "echo mode" for copy commands
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#1937 Operator: add more tests, fix some errors, small refactors and cleanups
  operator/controllers/operation_controller.go
  operator/controllers/operation_controller_test.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetask_controller_test.go
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetask_reconcile_test.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/runtimetaskgroup_controller_test.go
  operator/controllers/runtimetaskgroup_reconcile.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/controllers/util_test.go
  operator/go.mod
  operator/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XXL

#1980 kinder: add higher kubeadm verbosity to all workflow tasks
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#1982 kinder: enable verbose output for two more workflows
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S
