Repository kubernetes/kubeadm, pull requests merged in 2019-09, with the labels that each got.

#1746 managing-e2e-tests: refactor the document
  docs/managing-e2e-tests.md
Labels: approved, area/testing, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/L

#1765 fix E2E test upgrade-1-12-1-13
  kinder/ci/workflows/upgrade-1.12-1.13.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1767 kinder: workaround RBAC flakiness during upgrades
  kinder/pkg/cluster/manager/actions/waiter.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/S

#1768 kinder: support for building docker base-image
  kinder/cmd/kinder/build/baseimage/baseimage.go
  kinder/cmd/kinder/build/build.go
  kinder/cmd/kinder/build/build/TODO.md
  kinder/doc/kind-kinder.md
  kinder/images/base/docker/Dockerfile
  kinder/images/base/docker/README.md
  kinder/images/base/docker/clean-install
  kinder/images/base/docker/entrypoint/main.go
  kinder/pkg/build/base/README.md
  kinder/pkg/build/base/base.go
Labels: approved, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/L

#1771 remove the-repeat-word
  docs/testing-pre-releases.md
  kinder/pkg/build/bits/initBits.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1774 fix e2e kustomize test
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1773 Document: fix broken link
  kinder/doc/prepare-for-tests.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1775 fix-e2e-kustomize-bis
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1790 improves kinder readme
  kinder/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1772 update kubeadm/kinder tests for 1.16
  kinder/ci/kubeadm-periodic.tests.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#1797 fix(test/e2e): delete unused const
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1802 updade OWNERS for 1.16
  OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1809 Update test-XonY.md
  kinder/doc/test-XonY.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1808 fix the wrong word
  kinder/cmd/kinder/get/artifacts/artifacts.go
  kinder/cmd/kinder/test/workflow/workflow.go
  kinder/doc/kind-kinder.md
  kinder/pkg/build/bits/imageBits.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/extract/extract.go
  kinder/pkg/kubeadm/doc.go
  kinder/pkg/loadbalancer/doc.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/M

#1811 Correct word misspelling
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cri/docker/createhelper.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1812 fix-up code bug
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#1813 delete go.mod file in the root directory
  go.mod
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#1804 kinder: remove 1.12-1.13 test jobs
  kinder/ci/workflows/skew-1.13-on-1.12.yaml
  kinder/ci/workflows/upgrade-1.12-1.13.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S
