Repository kubernetes/kubeadm, pull requests merged in 2019-04, with the labels that each got.

#1483 update kinder docs
  kinder/README.md
  kinder/doc/kinder-workflow.png
  kinder/roadmap.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#1482 add kinder get artifacts command
  kinder/cmd/kinder/get/artifacts/artifacts.go
  kinder/cmd/kinder/get/get.go
  kinder/cmd/kinder/kinder.go
  kinder/doc/prepare-for-tests.md
  kinder/go.mod
  kinder/go.sum
  kinder/pkg/extract/extract.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XL

#1491 Add kinder e2e command
  kinder/cmd/kinder/kinder.go
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/cmd/kinder/test/e2ekubeadm/e2ekubeadm.go
  kinder/cmd/kinder/test/test.go
  kinder/pkg/test/binary.go
  kinder/pkg/test/e2e.go
  kinder/pkg/test/flags.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XL

#1492 Update kinder docs for e2e support
  kinder/doc/e2e-test.md
  kinder/doc/getting-started.md
  kinder/doc/reference.md
  kinder/doc/test-HA.md
  kinder/doc/test-XonY.md
  kinder/doc/test-upgrades.md
  kinder/roadmap.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1488 build node variant from k8s builds
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/cmd/kinder/get/artifacts/artifacts.go
  kinder/cmd/kinder/get/get.go
  kinder/pkg/actions/kubeadm-upgrade.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/alter/binaryBits.go
  kinder/pkg/build/alter/bits.go
  kinder/pkg/build/alter/imageBits.go
  kinder/pkg/build/alter/kubeadmBits.go
  kinder/pkg/build/alter/upgradeBinaryBits.go
  kinder/pkg/build/alter/upgradeBits.go
  kinder/pkg/extract/extract.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XXL

#1489 update kinder docs
  kinder/README.md
  kinder/doc/prepare-for-tests.md
  kinder/doc/reference.md
  kinder/doc/test-XonY.md
  kinder/doc/test-upgrades.md
  kinder/roadmap.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1504 Kinder test workflow
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/cmd/kinder/test/e2ekubeadm/e2ekubeadm.go
  kinder/cmd/kinder/test/test.go
  kinder/cmd/kinder/test/workflow/workflow.go
  kinder/go.mod
  kinder/go.sum
  kinder/hack/ci/workflows/upgrade-stable-to-master.yml
  kinder/pkg/test/e2e/binary.go
  kinder/pkg/test/e2e/flags.go
  kinder/pkg/test/e2e/runner.go
  kinder/pkg/test/workflow/taskCmdBuilder.go
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XL

#1506 kinder/hack: add verify and update scripts
  kinder/.gitignore
  kinder/doc/reference.md
  kinder/go.mod
  kinder/go.sum
  kinder/hack/update-all.sh
  kinder/hack/update-deps.sh
  kinder/hack/update-gofmt.sh
  kinder/hack/utils.sh
  kinder/hack/verify-all.sh
  kinder/hack/verify-build.sh
  kinder/hack/verify-deps.sh
  kinder/hack/verify-gofmt.sh
  kinder/hack/verify-golint.sh
  kinder/hack/verify-gotest.sh
  kinder/hack/verify-govet.sh
  kinder/hack/verify-shellcheck.sh
  kinder/hack/verify-spelling.sh
  kinder/pkg/actions/kubeadm-join.go
  kinder/pkg/actions/util.go
  kinder/pkg/cluster/context.go
  kinder/pkg/cluster/node.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XXL

#1509 Add waiter to kinder
  kinder/cmd/kinder/do/do.go
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/cmd/kinder/test/e2ekubeadm/e2ekubeadm.go
  kinder/hack/ci/workflows/upgrade-stable-to-master.yml
  kinder/pkg/actions/kubeadm-init.go
  kinder/pkg/actions/kubeadm-join.go
  kinder/pkg/actions/kubeadm-upgrade.go
  kinder/pkg/actions/util.go
  kinder/pkg/actions/waiter.go
  kinder/pkg/cluster/context.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1514 kinder: prepare for running test workflows from CI jobs
  kinder/OWNERS
  kinder/ci/kinder-run.sh
  kinder/ci/workflows/upgrade-stable-master.yaml
  kinder/doc/e2e-test.md
  kinder/doc/prepare-for-tests.md
  kinder/doc/reference.md
  kinder/doc/test-HA.md
  kinder/hack/verify-all.sh
  kinder/hack/verify-whitespace.sh
  kinder/pkg/test/e2e/binary.go
Labels: approved, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1516 Temporary disable cancel task
  kinder/pkg/test/workflow/taskCmdRunner.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1517 Enable verbose log for kinder test
  kinder/ci/kinder-run.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1521 fix wait duration
  kinder/pkg/actions/waiter.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1519 Add support for template funcs to kubeadm test workflow
  kinder/pkg/extract/extract.go
  kinder/pkg/test/workflow/taskCmdBuilder.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#1522 kinder-workflow: propagate errors to the parent workflow command
  kinder/.gitignore
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1524 fix junit-runner.xml
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1523 kinder: use the --name flag for all commands
  kinder/ci/workflows/upgrade-stable-master.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1526 kinder: temporary modify the upgrade job to test e2e before upgrade
  kinder/ci/workflows/upgrade-stable-master.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, sig/cluster-lifecycle, size/M

#1528 kinder: temporary skip the aggregated apiserver conformance test
  kinder/cmd/kinder/test/e2e/e2e.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, sig/cluster-lifecycle, size/XS

#1527 kinder: enable Calico instead of WeaveNet
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/actions/util.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, sig/cluster-lifecycle, size/S

#1529 kinder: move the e2e step after upgrade
  kinder/ci/workflows/upgrade-stable-master.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, sig/cluster-lifecycle, size/S

#1530 kinder: update calico manifest to latest stable
  kinder/pkg/actions/util.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1532 kinder: fix a typo
  kinder/doc/test-upgrades.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#1533 Add --with-init-artifacts flag to kinder build node-variant command
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/doc/prepare-for-tests.md
  kinder/doc/reference.md
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/alter/initBits.go
  kinder/pkg/build/alter/upgradeBits.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1537 fix-upgrade-stable-to-master
  kinder/ci/workflows/upgrade-stable-master.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1538 Fix broken links to Kinder reference docs
  kinder/doc/e2e-test.md
  kinder/doc/prepare-for-tests.md
  kinder/doc/test-XonY.md
  kinder/doc/test-upgrades.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/S

#1539 kinder: add support for include workflow
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#1542 kinder: task ignoreError
  kinder/ci/workflows/upgrade-stable-master.yaml
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1544 Add definition about kubeadm ( finally squash modifications with success ) thanks :)
  README.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/S

#1548 OWNERS: remove redundant area/kubeadm label
  OWNERS
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1545 kinder: more upgrade jobs
  kinder/ci/kubeadm-ci.md
  kinder/ci/workflows/upgrade-1.11-1.12.yaml
  kinder/ci/workflows/upgrade-1.12-1.13.yaml
  kinder/ci/workflows/upgrade-1.13-1.14.yaml
  kinder/ci/workflows/upgrade-stable-master.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/actions/cluster-info.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/alter/bits.go
  kinder/pkg/build/alter/initBits.go
  kinder/pkg/build/alter/labels.go
  kinder/pkg/cluster/kubeadmconfig.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL
