Repository kubernetes/kubeadm, pull requests merged in 2019-05, with the labels that each got.

#1551 kinder: fix cluster-info
  kinder/pkg/actions/cluster-info.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1552 kinder: make upgrade test consider e2e test per branch
  kinder/ci/workflows/upgrade-1.11-1.12.yaml
  kinder/ci/workflows/upgrade-stable-master.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1554 kinder: fix test workflows
  kinder/ci/workflows/skew-master-on-stable.yaml
  kinder/ci/workflows/upgrade-1.11-1.12.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1555 Delete redundant "extra"
  docs/design/design_v1.10.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/XS

#1561 Fix typo in create cluster command
  kinder/doc/getting-started.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/XS

#1560 update the document about updating test-infra jobs
  docs/managing-e2e-tests.md
Labels: approved, area/testing, cncf-cla: yes, kind/documentation, lgtm, lifecycle/active, sig/cluster-lifecycle, size/L

#1574 kinder: add unit tests for kubeadm config versions
  kinder/cmd/kinder/create/cluster/createcluster_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1573 kinder: fix multi node upgrades
  kinder/pkg/actions/kubeadm-upgrade.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/M

#1571 change kind-master job to test HA
  tests/e2e/kind/ha-cp/ha-cp.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1580 kinder make upgrade and skew e2e tests HA ready
  kinder/ci/workflows/skew-1.14-on-1.13.yaml
  kinder/ci/workflows/skew-master-on-stable.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-1.13-1.14.yaml
  kinder/ci/workflows/upgrade-stable-master.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1583 make HA test create 3 control-plane nodes
  kinder/ci/workflows/skew-1.14-on-1.13.yaml
  kinder/ci/workflows/skew-master-on-stable.yaml
  kinder/ci/workflows/upgrade-1.13-1.14.yaml
  kinder/ci/workflows/upgrade-stable-master.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1584 kinder: initVersion improved detection
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/cluster/kubeadmconfig.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/S

#1585 improve periodic test doc
  kinder/ci/kubeadm-periodic.tests.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/S

#1586 kinder: v1.15 CLI changes
  kinder/pkg/actions/kubeadm-init.go
  kinder/pkg/actions/kubeadm-join.go
  kinder/pkg/actions/kubeadm-upgrade.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/M
