Repository kubernetes/kubeadm, pull requests merged in 2019-06, with the labels that each got.

#1590 kinder: v1beta2 workaround
  kinder/cmd/kinder/create/cluster/createcluster_test.go
  kinder/pkg/actions/kubeadm-init.go
  kinder/pkg/cluster/kubeadmconfig.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/L

#1594 kind: move the configs to Cluster/v1alpha3
  tests/e2e/kind/ha-cp/ha-cp.yaml
  tests/e2e/kind/single-cp/single-cp.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1589 Add workflow for HA cert copy with external etcd
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/ha-cert-copy-with-external-etcd-1.14.yaml
  kinder/ci/workflows/ha-cert-copy-with-external-etcd-master.yaml
  kinder/ci/workflows/ha-cert-copy-with-external-etcd.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1595 kinder: fix-image-preload
  kinder/pkg/actions/kubeadm-upgrade.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/XS

#1597 Rename `ha-cert-copy-with-external-etcd` to `external-etcd`
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/external-etcd-1.14.yaml
  kinder/ci/workflows/external-etcd-master.yaml
  kinder/ci/workflows/external-etcd.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1605 fix-upgrade-flake
  kinder/pkg/actions/waiter.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, sig/cluster-lifecycle, size/S

#1604 Minor change: Fix broken link for design docs
  docs/design/design_v1.10.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1628 add kubeadm logos and readme
  logos/README.md
  logos/horizontal/black/kubeadm-horizontal-black.png
  logos/horizontal/black/kubeadm-horizontal-black.svg
  logos/horizontal/color/kubeadm-horizontal-color.png
  logos/horizontal/color/kubeadm-horizontal-color.svg
  logos/horizontal/white/kubeadm-horizontal-white.png
  logos/horizontal/white/kubeadm-horizontal-white.svg
  logos/icon/black/kubeadm-icon-black.png
  logos/icon/black/kubeadm-icon-black.svg
  logos/icon/color/kubeadm-icon-color.png
  logos/icon/color/kubeadm-icon-color.svg
  logos/icon/white/kubeadm-icon-white.png
  logos/icon/white/kubeadm-icon-white.svg
  logos/stacked/black/kubeadm-stacked-black.png
  logos/stacked/black/kubeadm-stacked-black.svg
  logos/stacked/color/kubeadm-stacked-color.png
  logos/stacked/color/kubeadm-stacked-color.svg
  logos/stacked/white/kubeadm-stacked-white.png
  logos/stacked/white/kubeadm-stacked-white.svg
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/M

#1615 kinder: obtain the etcd version from the node-image
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/pkg/cluster/etcd.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M

#1634 kinder: update calico to the latest version 3.8
  kinder/pkg/actions/util.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1636 kinder: avoid polution of the output of "kubeadm config images list"
  kinder/ci/workflows/external-etcd.yaml
  kinder/pkg/cluster/etcd.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#1623 update OWNERS for 1.16
  OWNERS
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS
