Repository kubernetes/kubeadm, pull requests merged in 2019-11, with the labels that each got.

#1874 kinder: remove "sigs.k8s.io/kind/pkg/build/node" dependency
  kinder/cmd/kinder/build/baseimage/baseimage.go
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/doc/kind-kinder.md
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1876 kinder: remove kind config
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/config/config.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/kubeadm/calicopatch.go
  kinder/third_party/kind/config/defaults.go
  kinder/third_party/kind/config/readme.md
  kinder/third_party/kind/config/validate.go
  kinder/third_party/kind/config/validate_test.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XL

#1869 operator: organize imports
  operator/api/v1alpha1/operation_types.go
  operator/api/v1alpha1/runtimetask_types.go
  operator/api/v1alpha1/runtimetaskgroup_types.go
  operator/controllers/operation_controller.go
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/hack/update-goimports.sh
  operator/hack/verify-goimports.sh
  operator/main.go
  operator/operations/factory.go
  operator/operations/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M

#1870 kinder: cleanup support for v1.11 and v1.12
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
  kinder/third_party/kind/kubeadm/config.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/L

#1882 fix-master-on-v1.16
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/S

#1879 Create E2E jobs for 1.17
  kinder/ci/workflows/discovery-1.17.yaml
  kinder/ci/workflows/external-etcd-1.17.yaml
  kinder/ci/workflows/kustomize-1.17.yaml
  kinder/ci/workflows/skew-1.17-on-1.16.yaml
  kinder/ci/workflows/skew-master-on-1.17.yaml
  kinder/ci/workflows/upgrade-1.16-1.17.yaml
  kinder/ci/workflows/upgrade-1.17-master.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M

#1875 kinder: remove unused kind cmd
  kinder/cmd/kinder/build/build.go
  kinder/cmd/kinder/kinder.go
  kinder/doc/kind-kinder.md
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1878 kinder: remove "sigs.k8s.io/kind/pkg/cluster/nodes" dependency
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XL

#1883 CONTRIBUTING.md: add onboarding video link
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#1888 make kinder refer to "kinder get kubeconfig-path"
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#1887 kinder: add a test job family for running regular tests
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/regular-1.14.yaml
  kinder/ci/workflows/regular-1.15.yaml
  kinder/ci/workflows/regular-1.16.yaml
  kinder/ci/workflows/regular-1.17.yaml
  kinder/ci/workflows/regular-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#1892 kinder: use the etcd tag version for defining etcdctl flags
  kinder/hack/verify-spelling.sh
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/manager/actions/cluster-info_test.go
  operator/hack/verify-spelling.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#1894 fix a bug in kinder related to 'docker cp'
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1895 kinder: add --loglevel=debug to tasks that are mnissing it
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#1873 kinder: remove "sigs.k8s.io/kind/pkg/log" dependency
  kinder/cmd/kinder/kinder.go
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1880 kubeadm-operator: implement the task controller
  operator/Dockerfile
  operator/commands/exec.go
  operator/commands/factory.go
  operator/commands/kubeadm_renew_certificate.go
  operator/commands/kubeadm_upgrade_apply.go
  operator/commands/kubeadm_upgrade_node.go
  operator/commands/kubectl_drain.go
  operator/commands/kubectl_uncordon.go
  operator/commands/preflight.go
  operator/commands/upgrade_kubeadm.go
  operator/commands/upgrade_kubectlkubelet.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/util.go
  operator/main.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XL

#1897 kinder: fix more etcd image related issues
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/manager/actions/cluster-info_test.go
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#1905 kinder: stop caching kubeadmVersion
  kinder/pkg/cluster/status/node.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1903 kinder: get the etcdctl version from the etcd binary
  kinder/pkg/cluster/manager/actions/cluster-info.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/S

#1904 kinder: add a presubmit CI workflow
  kinder/ci/workflows/presubmit-upgrade-master.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1909 kinder: fix wrong variables and add missing upgrade
  kinder/ci/workflows/presubmit-upgrade-master.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/S

#1901 Kinder: Remove "sigs.k8s.io/kind/pkg/cluster" dependency
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/cmd/kinder/test/e2ekubeadm/e2ekubeadm.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#1911 kinder: remove kind clusters dependencies
  kinder/cmd/kinder/get/clusters/clusters.go
  kinder/cmd/kinder/get/get.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#1910 kinder: improve workflow verification
  kinder/ci/tools/verify-workflow.go
  kinder/cmd/kinder/test/workflow/workflow.go
  kinder/hack/verify-workflows.sh
  kinder/pkg/test/workflow/taskCmdBuilder.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#1922 fix some 404 urls
  CONTRIBUTING.md
  docs/managing-e2e-tests.md
  docs/testing-pre-releases.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1923 kubeadm operator: add unit tests for operation_controller
  operator/controllers/operation_controller_test.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1934 kubeadm operator: add unit tests for runtimetaskgroup_controller
  operator/controllers/runtimetaskgroup_controller_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1941 kubeadm operator: add unit tests for runtimetaskgroup_reconcile
  operator/controllers/runtimetaskgroup_reconcile_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#1942 kubeadm operator: rename function name in runtimetaskgroup_reconcile_test.go
  operator/controllers/runtimetaskgroup_reconcile_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#1919 kubeadm operator: add unit test tests - part1
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetask_controller_test.go
  operator/controllers/runtimetask_reconcile_test.go
Labels: approved, area/kubeadm-operator, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XXL
