Repository kubernetes/kubeadm, pull requests merged in 2020-04, with the labels that each got.

#2098 kinder: remove dependency on yaml.v2
  kinder/go.mod
  kinder/hack/verify-gotest.sh
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
  kinder/pkg/test/workflow/workflow_test.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/L

#2099 remove dependency kind concurrent
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2100 cleanup third_party loadbalancer
  kinder/pkg/cluster/manager/actions/loadbalancer.go
  kinder/pkg/constants/constants.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/util/util.go
  kinder/pkg/loadbalancer/doc.go
  kinder/pkg/loadbalancer/loadbalancer.go
  kinder/third_party/kind/loadbalancer/config.go
  kinder/third_party/kind/loadbalancer/const.go
  kinder/third_party/kind/loadbalancer/doc.go
  kinder/third_party/kind/loadbalancer/readme.md
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2101 cleanup third_party kubeadm
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/doc.go
  kinder/third_party/kind/kubeadm/config.go
  kinder/third_party/kind/kubeadm/const.go
  kinder/third_party/kind/kubeadm/doc.go
  kinder/third_party/kind/kubeadm/readme.md
  kinder/third_party/kind/readme.md
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL

#2105 kinder: remove 1.15 jobs
  kinder/ci/workflows/external-etcd-1.15.yaml
  kinder/ci/workflows/regular-1.15.yaml
  kinder/ci/workflows/skew-1.15-on-1.14.yaml
  kinder/ci/workflows/upgrade-1.14-1.15.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M

#2102 Documentation for example setups of virtual address / load balancing …
  docs/ha-considerations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/important-longterm, sig/cluster-lifecycle, size/L

#2115 Update help text for 'kinder create'
  kinder/cmd/kinder/create/create.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#2120 Make --image required for kinder create cluster
  kinder/cmd/kinder/create/cluster/createcluster.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2121 Removing a dead link
  docs/managing-e2e-tests.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, size/XS

#2108 kinder: add e2e workflow for testing join and upgrade without addon ConfigMap
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/upgrade-master-no-addon-config-maps.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/L

#2124 kinder: fix issue in kubeadm-periodic.tests.md
  kinder/ci/kubeadm-periodic.tests.md
Labels: approved, area/kinder, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/XS

#2118 fix kinder smoke test
  kinder/pkg/cluster/manager/actions/smoke-test.go
  kinder/pkg/cluster/manager/actions/waiter.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M

#2125 Update link to sig-cluster-lifecycle-kubeadm dashboard
  kinder/ci/kubeadm-periodic.tests.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2126 Doc fixes to kind-kinder.md
  kinder/doc/kind-kinder.md
Labels: approved, area/kinder, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/M
