Repository kubernetes/kubeadm, pull requests merged in 2020-01, with the labels that each got.

#1993 Fix a typo 'the the' -> 'the'
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_reconcile.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/XS

#1944 docs/release-cycle.md: update the document
  docs/release-cycle.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/L

#1996 Kinder: Temporarily disable clustersettings
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M

#1997 CONTRIBUTING.md: add 101 video
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#1999 Remove duplicated words
  kinder/cmd/kinder/cp/cp.go
  kinder/cmd/kinder/do/do.go
  kinder/cmd/kinder/exec/exec.go
  kinder/doc/reference.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#1989 kinder: upgrade node's kubelet and kubectl last
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#1965 kinder: remove CI workflows for 1.13 and 1.14
  kinder/ci/workflows/external-etcd-1.14.yaml
  kinder/ci/workflows/regular-1.14.yaml
  kinder/ci/workflows/skew-1.14-on-1.13.yaml
  kinder/ci/workflows/skew-1.15-on-1.14.yaml
  kinder/ci/workflows/skew-1.16-on-1.15.yaml
  kinder/ci/workflows/skew-1.17-on-1.16.yaml
  kinder/ci/workflows/skew-master-on-1.17.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-1.13-1.14.yaml
  kinder/ci/workflows/upgrade-1.14-1.15.yaml
  kinder/ci/workflows/upgrade-1.15-1.16.yaml
  kinder/ci/workflows/upgrade-1.16-1.17.yaml
  kinder/ci/workflows/upgrade-1.17-master.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/L

#2011 Fix some typos in comments
  kinder/cmd/kinder/kinder.go
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS
