Repository kubernetes/kubeadm, pull requests merged in 2020-09, with the labels that each got.

#2276 Add links to relevant docs to README (followup)
  README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/S

#2282 [Kinder] Remove 1.16 workflows
  kinder/ci/workflows/discovery-1.16.yaml
  kinder/ci/workflows/external-etcd-1.16.yaml
  kinder/ci/workflows/kustomize-1.16.yaml
  kinder/ci/workflows/regular-1.16.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M

#2294 kinder: make the task runner perform cleanup only on existing processes
  kinder/pkg/test/workflow/taskCmdRunner.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#2297 kinder: increase e2e test suite timeouts to 35 minutes
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/S

#2295 kinder: remove -k / -kustomize-dir support and related test jobs
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/kustomize-1.17.yaml
  kinder/ci/workflows/kustomize-1.18.yaml
  kinder/ci/workflows/kustomize-1.19.yaml
  kinder/ci/workflows/kustomize-master.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/roadmap.md
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, sig/cluster-lifecycle, size/L

#2301 kinder/ci/kubeadm-periodic.tests.md: remove tables
  kinder/ci/kubeadm-periodic.tests.md
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/M

#2298 kinder: add workflows for testing external CA mode
  kinder/ci/workflows/external-ca-1.17.yaml
  kinder/ci/workflows/external-ca-1.18.yaml
  kinder/ci/workflows/external-ca-1.19.yaml
  kinder/ci/workflows/external-ca-master.yaml
  kinder/ci/workflows/external-ca-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
  kinder/cmd/kinder/do/do.go
  kinder/doc/reference.md
  kinder/doc/test-HA.md
  kinder/doc/test-XonY.md
  kinder/doc/test-upgrades.md
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/copy-certs.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/setup-external-ca.go
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XL

#2307 Step1: Remove offensive words from CI jobs configuration
  docs/managing-e2e-tests.md
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/discovery-latest.yaml
  kinder/ci/workflows/external-etcd-latest.yaml
  kinder/ci/workflows/patches-latest.yaml
  kinder/ci/workflows/presubmit-upgrade-latest.yaml
  kinder/ci/workflows/regular-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-latest.yaml
  kinder/ci/workflows/upgrade-latest-no-addon-config-maps.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2310 Step2: Removing offensive words from the CI task configuration
  kinder/ci/workflows/discovery-master.yaml
  kinder/ci/workflows/external-ca-latest.yaml
  kinder/ci/workflows/external-etcd-master.yaml
  kinder/ci/workflows/patches-master.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-master.yaml
  kinder/ci/workflows/skew-master-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-master.yaml
  kinder/ci/workflows/upgrade-master-no-addon-config-maps.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2312 kinder: a couple of fixes for external-ca
  kinder/ci/workflows/external-ca-tasks.yaml
  kinder/pkg/cluster/manager/actions/setup-external-ca.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#2314 kinder: increase the timeout for kubeadm e2e suite on presubmit
  kinder/ci/workflows/presubmit-upgrade-latest.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-soon

#2313 Avoid linking to the "master" branch of repositories
  CONTRIBUTING.md
  OWNERS
  README.md
  docs/design/design_v1.10.md
  docs/design/design_v1.7.md
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
  docs/managing-e2e-tests.md
  docs/release-cycle.md
  docs/testing-pre-releases.md
  kinder/OWNERS
  kinder/ci/workflows/discovery-1.17.yaml
  kinder/ci/workflows/discovery-1.18.yaml
  kinder/ci/workflows/discovery-1.19.yaml
  kinder/ci/workflows/discovery-latest.yaml
  kinder/ci/workflows/external-ca-1.17.yaml
  kinder/ci/workflows/external-ca-1.18.yaml
  kinder/ci/workflows/external-ca-1.19.yaml
  kinder/ci/workflows/external-ca-latest.yaml
  kinder/ci/workflows/external-etcd-1.17.yaml
  kinder/ci/workflows/external-etcd-1.18.yaml
  kinder/ci/workflows/external-etcd-1.19.yaml
  kinder/ci/workflows/external-etcd-latest.yaml
  kinder/ci/workflows/patches-1.19.yaml
  kinder/ci/workflows/patches-latest.yaml
  kinder/ci/workflows/presubmit-upgrade-latest.yaml
  kinder/ci/workflows/regular-1.17.yaml
  kinder/ci/workflows/regular-1.18.yaml
  kinder/ci/workflows/regular-1.19.yaml
  kinder/ci/workflows/regular-latest.yaml
  kinder/ci/workflows/skew-1.17-on-1.16.yaml
  kinder/ci/workflows/skew-1.18-on-1.17.yaml
  kinder/ci/workflows/skew-1.19-on-1.18.yaml
  kinder/ci/workflows/skew-latest-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.16-1.17.yaml
  kinder/ci/workflows/upgrade-1.17-1.18.yaml
  kinder/ci/workflows/upgrade-1.18-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-latest.yaml
  kinder/cmd/kinder/test/e2e/e2e.go
  kinder/doc/e2e-test.md
  kinder/doc/reference.md
  kinder/hack/verify-all.sh
  kinder/pkg/kubeadm/kustomize.go
  operator/README.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/L
