Repository kubernetes/kubeadm, pull requests merged in 2020-11, with the labels that each got.

#2337 kinder: add test workflows for 1.20
  kinder/ci/workflows/discovery-1.20.yaml
  kinder/ci/workflows/external-etcd-1.20.yaml
  kinder/ci/workflows/regular-1.20.yaml
  kinder/ci/workflows/skew-1.20-on-1.19.yaml
  kinder/ci/workflows/skew-latest-on-1.20.yaml
  kinder/ci/workflows/upgrade-1.19-1.20.yaml
  kinder/ci/workflows/upgrade-1.20-latest.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#2340 Revert "kinder: add test workflows for 1.20"
  kinder/ci/workflows/discovery-1.20.yaml
  kinder/ci/workflows/external-etcd-1.20.yaml
  kinder/ci/workflows/regular-1.20.yaml
  kinder/ci/workflows/skew-1.20-on-1.19.yaml
  kinder/ci/workflows/skew-latest-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-1.20.yaml
  kinder/ci/workflows/upgrade-1.19-latest.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/M

#2341 Update some kind depencies
  go.mod
  kinder/go.mod
  kinder/go.sum
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL

#2345 Remove useless cleanup code since src dir never existed
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2347 Cleanup tmp file introduced during test
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2350 Remove Kustomize dependency and use json patch instead
  kinder/go.mod
  kinder/go.sum
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/kustomize.go
  kinder/pkg/kubeadm/patch.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2351 Update kind and K8s dependencies
  kinder/cmd/kinder/build/baseimage/baseimage.go
  kinder/cmd/kinder/kinder.go
  kinder/doc/kind-kinder.md
  kinder/go.mod
  kinder/go.sum
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L
