Repository kubernetes/kubeadm, pull requests merged in 2020-08, with the labels that each got.

#2238 fix typos comment and indentation in tests/e2e
  tests/e2e/manifests/README.md
  tests/e2e/packages/verify_packages_install_deb.sh
  tests/e2e/packages/verify_packages_published.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#2246 kinder: do not run static check on missing directories
  kinder/hack/verify-staticcheck.sh
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#2242 verify_manifest_lists.go: fix "panic: could not parse "v1.18.6\n" as version [recovered]" issue
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/XS

#2243 verify_manifest_lists_test.go: add unit test for minEstimated.Minor = 1
  tests/e2e/manifests/verify_manifest_lists_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/XS

#2245 kinder: retry writing node-settings.yaml
  kinder/pkg/cluster/status/node.go
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M

#2248 kinder: remove 1.16 logic and workflows
  kinder/ci/workflows/skew-1.16-on-1.15.yaml
  kinder/ci/workflows/upgrade-1.15-1.16.yaml
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/config.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, size/L

#2253 kinder: avoid orphaning child processes on task timeouts
  kinder/pkg/test/workflow/taskCmdRunner.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#2263 fix wrong comment
  tests/e2e/packages/verify_packages_published.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2264 fix wrong dir
  operator/hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2265 update shellcheck url
  operator/hack/verify-shellcheck.sh
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2266 use common function cd_root_path to cd to the root path
  kinder/hack/verify-all.sh
  operator/hack/verify-all.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/M

#2268 fix wrong kinder shellcheck url
  kinder/hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2269 fix small shellcheck issue
  kinder/hack/verify-whitespace.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS
