Repository kubernetes/kubeadm, pull requests merged in 2020-05, with the labels that each got.

#2129 Update link to systemd CONTAINER_INTERFACE reference
  kinder/images/base/docker/Dockerfile
  kinder/pkg/cri/docker/createhelper.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2130 Update testing section in contributing guide
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S

#2131 kinder: adjust timeouts to attempt to fix flakes
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/presubmit-upgrade-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, size/S

#2134 fix checking of pre-loaded images
  kinder/pkg/cluster/manager/actions/images.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2136 minor fix to kinder version help
  kinder/cmd/kinder/version/version.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2133 kinder prepull images during build
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/docker/alterhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/test/workflow/taskCmdRunner.go
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/L

#2143 kinder fix issues around containerd base images
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/actionhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/docker/alterhelper.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, size/M

#2147 kinder: increase waitForDocker timeout to 1m
  kinder/pkg/cri/docker/createhelper.go
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, size/XS

#2148 kinder: remove the docs about 'kinder build node-image'
  kinder/README.md
  kinder/cmd/kinder/build/build.go
  kinder/doc/prepare-for-tests.md
  kinder/doc/reference.md
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, size/S
