Repository kubernetes/kubeadm, pull requests merged in 2020-03, with the labels that each got.

#2052 docs: use 'k8s.gcr.io' instead of 'gcr.io/google-containers'
  docs/testing-pre-releases.md
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2044 kinder: add test workflows for 1.18
  kinder/ci/workflows/discovery-1.18.yaml
  kinder/ci/workflows/external-etcd-1.18.yaml
  kinder/ci/workflows/kustomize-1.18.yaml
  kinder/ci/workflows/regular-1.18.yaml
  kinder/ci/workflows/skew-1.18-on-1.17.yaml
  kinder/ci/workflows/skew-master-on-1.18.yaml
  kinder/ci/workflows/upgrade-1.17-1.18.yaml
  kinder/ci/workflows/upgrade-1.18-master.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/M

#2053 update the "manifest lists" test for k8s.gcr.io
  tests/e2e/manifests/verify_manifest_lists.go
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, area/testing, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/S

#2087 [kinder] drop support for v1.13 from kinder
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
  kinder/third_party/kind/kubeadm/config.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2084 [kinder] remove dependency kind version
  kinder/cmd/kinder/version/version.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2085 [kinder] remove dependency kind util
  kinder/doc/kind-kinder.md
  kinder/pkg/build/base/base.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2086 [kinder] remove dependency kind exec
  kinder/pkg/cluster/manager/create.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2088 [kinder] drop support for v1.14 from kinder
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#2089 [kinder] remove dependency kind kustomize
  kinder/doc/kind-kinder.md
  kinder/go.mod
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/kustomize.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L
