Repository kubernetes/kubeadm, pull requests merged in 2020-07, with the labels that each got.

#2184 kinder: support and test the --experimental-patches flag for kubeadm
  kinder/ci/workflows/patches-1.19.yaml
  kinder/ci/workflows/patches-master.yaml
  kinder/ci/workflows/patches-tasks.yaml
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/L

#2215 kinder: fix wrong patch format in patches-tasks.yaml
  kinder/ci/workflows/patches-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#2217 kinder: add missing --experimental-patches for the "init" action
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/important-soon

#2113 kinder: add test workflows for 1.19
  kinder/ci/workflows/discovery-1.19.yaml
  kinder/ci/workflows/external-etcd-1.19.yaml
  kinder/ci/workflows/kustomize-1.19.yaml
  kinder/ci/workflows/regular-1.19.yaml
  kinder/ci/workflows/skew-1.19-on-1.18.yaml
  kinder/ci/workflows/skew-master-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.18-1.19.yaml
  kinder/ci/workflows/upgrade-1.19-master.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#2228 kinder: prepull the additional images (pause, etcd..) on the host
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/alterhelper.go
  kinder/pkg/cri/containerd/alterhelper.go
  kinder/pkg/cri/docker/alterhelper.go
Labels: approved, area/kinder, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#2235 Add repo SECURITY.md
  SECURITY.md
Labels: approved, area/security, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S
