Repository kubernetes/kubeadm, pull requests merged in 2020-06, with the labels that each got.

#2172 [kinder] add --with-kubeadm-additional-images option to kinder build node-image-variant
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/pkg/build/alter/alter.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/M

#2173 add --with-path option to kinder build node-image-variant
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/pathBits.go
  kinder/pkg/extract/extract.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2183 fix extra images pre-load for containerd
  kinder/pkg/cri/containerd/alterhelper.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2192 Issue #2189 - missing keepalived health check script file.
  docs/ha-considerations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, priority/backlog, sig/cluster-lifecycle, size/S

#2193 kinder: increase timeout for building node images to 15m
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/flake, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#2204 fix typos
  kinder/pkg/test/workflow/taskCmdRunner.go
  kinder/pkg/test/workflow/workflow.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS
