Repository kubernetes/kubeadm, pull requests merged in 2021-06, with the labels that each got.

#2495 kinder: pin the CR cgroup driver to "systemd"
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/nodes/alterhelper.go
  kinder/pkg/cri/nodes/containerd/alterhelper.go
  kinder/pkg/cri/nodes/docker/alterhelper.go
  kinder/pkg/kubeadm/config.go
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/M

#2498 kinder: using the well-known GOPATH environment variable in update-workflows.sh instead of HOME
  kinder/hack/update-workflows.sh
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2511 Add e2e tests for rootless control-plane.
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-rootless.yaml
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/rootless.yaml
  kinder/ci/workflows/rootless-latest.yaml
  kinder/ci/workflows/rootless-tasks.yaml
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/kubeadm/config.go
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/XL

#2516 Fix indentation in kubeadm rootless e2e test yaml.
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/workflows/rootless-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL

#2517 Use /bin/bash instead of /bin/sh for verify-rootless task.
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/workflows/rootless-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2520 kinder: use the "auto" mode for the "rootless" workflow
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/workflows/rootless-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#2521 Use pgrep -f to do a full match and use regular expression to make su…
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/workflows/rootless-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, size/M
