Repository kubernetes/kubeadm, pull requests merged in 2021-04, with the labels that each got.

#2429 docs: update link to the godocs list of kubeadm APIs
  README.md
  kinder/pkg/kubeadm/config.go
Labels: approved, cncf-cla: yes, kind/bug, kind/documentation, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/XS

#2412 kinder: add test workflows for 1.21
  kinder/ci/workflows/discovery-1.21.yaml
  kinder/ci/workflows/external-ca-1.21.yaml
  kinder/ci/workflows/external-etcd-1.21.yaml
  kinder/ci/workflows/patches-1.21.yaml
  kinder/ci/workflows/regular-1.21.yaml
  kinder/ci/workflows/skew-1.21-on-1.20.yaml
  kinder/ci/workflows/skew-kubelet-1.19-on-1.21.yaml
  kinder/ci/workflows/skew-kubelet-1.20-on-1.21.yaml
  kinder/ci/workflows/skew-kubelet-1.21-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.21.yaml
  kinder/ci/workflows/upgrade-1.20-1.21.yaml
  kinder/ci/workflows/upgrade-1.21-latest.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L

#2424 kinder: using kindnet CNI
  kinder/doc/kind-kinder.md
  kinder/go.mod
  kinder/pkg/cluster/manager/actions/assets/kindnet.yaml
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/data/calicomanifests.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XL

#2442 kinder: import the kindnet manifest as source code
  kinder/pkg/cluster/manager/actions/assets/kindnet.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/M

#2446 kinder: remove 1.17 jobs
  kinder/ci/workflows/skew-1.18-on-1.17.yaml
  kinder/ci/workflows/skew-kubelet-1.17-on-1.18.yaml
  kinder/ci/workflows/skew-kubelet-1.17-on-1.19.yaml
  kinder/ci/workflows/upgrade-1.17-1.18.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon

#2445 kinder: fix a problem in the upgrade test without addons
  kinder/ci/workflows/upgrade-latest-no-addon-config-maps.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS

#2447 kinder: remove 1.18 constant
  kinder/pkg/constants/constants.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2448 delete redundant control characters
  kinder/doc/e2e-test.md
  kinder/doc/reference.md
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2452 tests/e2e/kind: remove unused kind e2e test setup files
  tests/e2e/kind/ha-cp/ha-cp.yaml
  tests/e2e/kind/single-cp/single-cp.yaml
  tests/e2e/kind/test-cmd-basic.sh
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/M

#2460 use a scoped tempdir instead of /tmp
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/S
