Repository kubernetes/kubeadm, pull requests merged in 2021-08, with the labels that each got.

#2537 Kubeadm patches: use config for newer versions; --experimental-patches for older
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/discovery.go
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, kind/feature, approved, area/kinder

#2544 update the issue template and README.md about support
  .github/ISSUE_TEMPLATE.md
  README.md
Labels: cncf-cla: yes, lgtm, priority/important-longterm, size/M, sig/cluster-lifecycle, approved, kind/documentation

#2545 add patches for join/init/upgrade to the right place
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/componentpatches.go
  kinder/pkg/kubeadm/discovery.go
Labels: cncf-cla: yes, lgtm, size/L, sig/cluster-lifecycle, approved

#2548 kinder: fix failing patches e2e tests
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/componentpatches.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, kind/failing-test, approved, area/kinder

#2550 README/ISSUE_TEMPLATE: fix wrong link to k8s support
  .github/ISSUE_TEMPLATE.md
  README.md
Labels: priority/backlog, cncf-cla: yes, lgtm, approved, kind/documentation

#2555 github/workflows: add action for a "/support" command
  .github/workflows/support-command.yaml
Labels: kind/support, cncf-cla: yes, lgtm, priority/important-longterm, size/M, sig/cluster-lifecycle, kind/feature, approved

#2556 github/workflows/support-command: don't error on comments with no command
  .github/workflows/support-command.yaml
Labels: kind/support, cncf-cla: yes, lgtm, priority/important-longterm, size/XS, sig/cluster-lifecycle, kind/feature, approved

#2558 Cleanup E2E jobs for 1.19
  kinder/ci/workflows/discovery-1.19.yaml
  kinder/ci/workflows/external-ca-1.19.yaml
  kinder/ci/workflows/external-etcd-1.19.yaml
  kinder/ci/workflows/patches-1.19.yaml
  kinder/ci/workflows/regular-1.19.yaml
  kinder/ci/workflows/skew-1.20-on-1.19.yaml
  kinder/hack/update-workflows.sh
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/kinder
