Repository kubernetes/kubeadm, pull requests merged in 2021-11, with the labels that each got.

#2593 Replace iouitl with io and os
  kinder/ci/tools/update-workflows/pkg/run.go
  kinder/ci/tools/update-workflows/pkg/testinfra.go
  kinder/ci/tools/update-workflows/pkg/workflows.go
  kinder/ci/tools/verify-workflow.go
  kinder/hack/orderimports/orderimports.go
  kinder/hack/verify-boilerplate.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/initBits.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/host/archive.go
  kinder/pkg/extract/extract.go
  kinder/pkg/test/workflow/workflow.go
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, ok-to-test

#2600 Revert "Replace iouitl with io and os"
  kinder/ci/tools/update-workflows/pkg/run.go
  kinder/ci/tools/update-workflows/pkg/testinfra.go
  kinder/ci/tools/update-workflows/pkg/workflows.go
  kinder/ci/tools/verify-workflow.go
  kinder/hack/orderimports/orderimports.go
  kinder/hack/verify-boilerplate.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/initBits.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/host/archive.go
  kinder/pkg/extract/extract.go
  kinder/pkg/test/workflow/workflow.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, kind/failing-test, approved

#2601 kinder: add e2e test for UnversionedKubeletConfigMap (Alpha)
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-unversioned-kubelet-cm.yaml
  kinder/ci/tools/update-workflows/templates/workflows/unversioned-kubelet-cm-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/unversioned-kubelet-cm.yaml
  kinder/ci/workflows/unversioned-kubelet-cm-latest.yaml
  kinder/ci/workflows/unversioned-kubelet-cm-tasks.yaml
Labels: priority/important-soon, cncf-cla: yes, lgtm, area/test, size/L, sig/cluster-lifecycle, kind/feature, approved, area/kinder

#2613 kinder: ignore KubeletVersion preflight error for x-on-y workflows
  kinder/ci/tools/update-workflows/templates/workflows/skew-x-on-y.yaml
  kinder/ci/workflows/skew-1.21-on-1.20.yaml
  kinder/ci/workflows/skew-1.22-on-1.21.yaml
  kinder/ci/workflows/skew-1.23-on-1.22.yaml
  kinder/ci/workflows/skew-latest-on-1.23.yaml
Labels: cncf-cla: yes, lgtm, area/test, size/XS, kind/failing-test, approved, area/kinder
