Repository kubernetes/kubeadm, pull requests merged in 2021-01, with the labels that each got.

#2377 tests/e2e/manifests: adapt to recent coredns image change
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/S

#2378 kinder: remove 1.17 jobs
  kinder/ci/workflows/discovery-1.17.yaml
  kinder/ci/workflows/external-etcd-1.17.yaml
  kinder/ci/workflows/regular-1.17.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, size/M

#2379 kinder: use "k8s-release-dev" for CI artifacts
  kinder/pkg/extract/extract.go
Labels: approved, area/kinder, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS
