Repository kubernetes/kubeadm, pull requests merged in 2021-05, with the labels that each got.

#2456 Cleanup E2E jobs for 1.18
  kinder/ci/workflows/discovery-1.18.yaml
  kinder/ci/workflows/external-ca-1.18.yaml
  kinder/ci/workflows/external-etcd-1.18.yaml
  kinder/ci/workflows/regular-1.18.yaml
  kinder/ci/workflows/skew-1.19-on-1.18.yaml
  kinder/hack/update-workflows.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/M, triage/accepted

#2477 kinder: migrate to sig-cluster-lifecycle-kubeadm-alerts@kubernetes.io
  docs/managing-e2e-tests.md
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-addons.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-discovery.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-ca.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-etcd.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-kubelet-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-patches.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder.yaml
Labels: approved, area/testing, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/S

#2476 further cleanup of "master" -> "control plane"
  docs/ha-considerations.md
  docs/managing-e2e-tests.md
  docs/test-failures.md
  docs/updating-command-reference.md
  kinder/cmd/kinder/cp/cp.go
  kinder/cmd/kinder/exec/exec.go
  kinder/doc/reference.md
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cri/host/doc.go
  kinder/pkg/kubeadm/patch.go
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, lgtm, priority/backlog, sig/cluster-lifecycle, size/S

#2481 docs: fix the bug that keepalived image missing curl
  docs/ha-considerations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/XS

#2482 kinder: update template to use a different SIG node alerts ML
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-kubelet-x-on-y.yaml
Labels: approved, area/testing, cncf-cla: yes, kind/cleanup, lgtm, priority/backlog, sig/cluster-lifecycle, size/XS

#2488 kinder: drop v1beta1 and enable v1beta3 by default
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
Labels: approved, area/kinder, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M

#2492 Fix small typo
  kinder/ci/tools/update-workflows/pkg/run.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2483 kinder: add flag for forcing the kubeadm config version
  kinder/cmd/kinder/do/do.go
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cri/nodes/confighelper.go
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/L

#2494 docs: fix the bug that kube-vip change the domain name.
  docs/ha-considerations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/XS, triage/accepted

#2490 kinder: remove kube dns support
  docs/testing-pre-releases.md
  kinder/cmd/kinder/do/do.go
  kinder/doc/getting-started.md
  kinder/doc/kind-kinder.md
  kinder/doc/reference.md
  kinder/doc/test-HA.md
  kinder/doc/test-XonY.md
  kinder/doc/test-upgrades.md
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/kubeadm/kubednspatch.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, sig/cluster-lifecycle, size/L
