Repository kubernetes/kubeadm, pull requests merged in 2021-07, with the labels that each got.

#2522 kinder: include upgrade artifacts in rootless workflow
  kinder/ci/tools/update-workflows/templates/workflows/rootless-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/rootless.yaml
  kinder/ci/workflows/rootless-latest.yaml
  kinder/ci/workflows/rootless-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#2528 use k8s-release-dev instead of kubernetes-release-dev
  docs/testing-pre-releases.md
  tests/e2e/packages/verify_packages_install_deb.sh
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/cluster-lifecycle, size/S

#2532 remove test/e2e/packages
  tests/e2e/packages/README.md
  tests/e2e/packages/verify_packages_install_deb.sh
  tests/e2e/packages/verify_packages_published.sh
Labels: approved, area/test, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, size/L

#2530 update references to legacy artifacts locations
  docs/testing-pre-releases.md
  kinder/README.md
  kinder/doc/reference.md
  kinder/pkg/build/bits/initBits.go
  kinder/pkg/test/e2e/binary.go
Labels: approved, area/test, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L, triage/accepted

#2536 docs: use k8s-staging-ci-images
  docs/testing-pre-releases.md
Labels: approved, area/test, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS
