Repository kubernetes/kubeadm, pull requests merged in 2021-03, with the labels that each got.

#2399 kinder: update to be compatible with go1.16 in kubekins
  kinder/go.sum
  kinder/hack/verify-spelling.sh
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, size/M

#2397 test/e2e/manifests: update for 1.21
  tests/e2e/manifests/verify_manifest_lists.go
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, area/testing, cncf-cla: yes, kind/cleanup, kind/deprecation, lgtm, priority/important-soon, sig/cluster-lifecycle, size/M

#2396 kinder: add kubelet skew test jobs
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/skew-1.18-on-1.17.yaml
  kinder/ci/workflows/skew-1.19-on-1.18.yaml
  kinder/ci/workflows/skew-1.20-on-1.19.yaml
  kinder/ci/workflows/skew-kubelet-1.17-on-1.18.yaml
  kinder/ci/workflows/skew-kubelet-1.17-on-1.19.yaml
  kinder/ci/workflows/skew-kubelet-1.18-on-1.19.yaml
  kinder/ci/workflows/skew-kubelet-1.18-on-1.20.yaml
  kinder/ci/workflows/skew-kubelet-1.19-on-1.20.yaml
  kinder/ci/workflows/skew-kubelet-1.19-on-latest.yaml
  kinder/ci/workflows/skew-kubelet-1.20-on-latest.yaml
  kinder/ci/workflows/skew-latest-on-1.20.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/node, size/L

#2402 kinder: remove leftover 1.17 workflow and constant
  kinder/ci/workflows/external-ca-1.17.yaml
  kinder/pkg/constants/constants.go
Labels: approved, area/kinder, cncf-cla: yes, kind/cleanup, lgtm, size/S

#2403 kinder: skip tests tagged with [MinimumKubeletVersion:VERSION]
  kinder/ci/workflows/skew-kubelet-1.17-on-1.18.yaml
  kinder/ci/workflows/skew-kubelet-1.17-on-1.19.yaml
  kinder/ci/workflows/skew-kubelet-1.18-on-1.19.yaml
  kinder/ci/workflows/skew-kubelet-1.18-on-1.20.yaml
  kinder/ci/workflows/skew-kubelet-1.19-on-1.20.yaml
  kinder/ci/workflows/skew-kubelet-1.19-on-latest.yaml
  kinder/ci/workflows/skew-kubelet-1.20-on-latest.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
Labels: approved, area/kinder, area/testing, cncf-cla: yes, kind/failing-test, kind/feature, lgtm, sig/cluster-lifecycle, size/XS

#2405 kinder/ci/workflows: remove quotes around --ginkgo-flags
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
Labels: approved, area/kinder, cncf-cla: yes, kind/bug, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, size/XS

#2416 go download url has changed
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS

#2417 verify_manifest_lists: don't test conformance:v1.21.0-beta.1
  tests/e2e/manifests/verify_manifest_lists.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, priority/important-soon, sig/cluster-lifecycle, size/XS

#2422 contributing.md: fix wrong URL
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, size/XS, triage/accepted

#2421 change config.yaml instead of args for fail-swap-on
  kinder/pkg/build/bits/initBits.go
  kinder/pkg/kubeadm/config.go
Labels: approved, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S
