Repository kubernetes/kubeadm, pull requests merged in 2022-02, with the labels that each got.

#2643 kinder: wait for node containers to start
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/status/node.go
Labels: cncf-cla: yes, lgtm, priority/important-longterm, size/L, sig/cluster-lifecycle, approved, kind/flake, area/kinder

#2654 kinder: add handling of the new/old kubelet-config map
  kinder/pkg/cluster/manager/actions/waiter.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, kind/feature, approved, kind/deprecation

#2644 Cleanup E2E jobs for 1.20
  kinder/ci/workflows/discovery-1.20.yaml
  kinder/ci/workflows/external-ca-1.20.yaml
  kinder/ci/workflows/external-etcd-1.20.yaml
  kinder/ci/workflows/patches-1.20.yaml
  kinder/ci/workflows/regular-1.20.yaml
  kinder/ci/workflows/skew-1.21-on-1.20.yaml
  kinder/hack/update-workflows.sh
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/kinder
