Repository kubernetes/kubeadm, pull requests merged in 2022-03, with the labels that each got.

#2658 Replace iouitl with io and os #2593 after remove v1.20 workflows
  kinder/ci/tools/update-workflows/pkg/run.go
  kinder/ci/tools/update-workflows/pkg/testinfra.go
  kinder/ci/tools/update-workflows/pkg/workflows.go
  kinder/ci/tools/verify-workflow.go
  kinder/hack/orderimports/orderimports.go
  kinder/hack/verify-boilerplate.go
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/initBits.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/host/archive.go
  kinder/pkg/extract/extract.go
  kinder/pkg/test/workflow/workflow.go
Labels: priority/backlog, kind/cleanup, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/kinder

#2663 status: improve error messages
  kinder/pkg/cluster/status/node.go
  kinder/pkg/exec/host-cmd.go
  kinder/pkg/exec/node-cmd.go
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/kinder

#2670 k8s-infra: verify manifests for registry.k8s.io
  tests/e2e/manifests/verify_manifest_lists.go
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved

#2672 don't set conntrack parameters in kube-proxy
  kinder/pkg/kubeadm/config.go
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/kinder, area/kubeadm

#2677 test/e2e/manifests: fix some errors for go 1.18
  tests/e2e/manifests/verify_manifest_lists.go
Labels: kind/bug, cncf-cla: yes, lgtm, priority/important-longterm, area/test, size/S, sig/cluster-lifecycle, kind/failing-test, approved
