Repository kubernetes/kubeadm, pull requests merged in 2022-06, with the labels that each got.

#2702 kinder: remove workflows for UniversionedKubeletConfigMap
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-unversioned-kubelet-cm.yaml
  kinder/ci/tools/update-workflows/templates/workflows/unversioned-kubelet-cm-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/unversioned-kubelet-cm.yaml
  kinder/ci/workflows/unversioned-kubelet-cm-latest.yaml
  kinder/ci/workflows/unversioned-kubelet-cm-tasks.yaml
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/L, approved, area/kinder

#2704 upgrade golang.org/x/sys-upgrade to 20220520151302
  kinder/go.mod
  kinder/go.sum
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder

#2705 kinder: apply a hack to handle the registry.k8s.io transition bugs
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cri/host/archive.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, size/S, kind/failing-test, approved, area/kinder

#2706 kinder: make sure worker nodes also get a patches dir created
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, size/XS, kind/failing-test, approved, area/kinder

#2707 kinder: add test for patching kubeletconfiguration; cleanup test jobs
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/workflows/patches-tasks.yaml
  kinder/ci/workflows/patches-1.21.yaml
  kinder/ci/workflows/patches-1.22.yaml
  kinder/ci/workflows/patches-1.23.yaml
  kinder/ci/workflows/patches-1.24.yaml
  kinder/ci/workflows/patches-tasks.yaml
Labels: priority/important-soon, kind/cleanup, cncf-cla: yes, lgtm, area/test, size/M, kind/feature, approved, area/kinder

#2715 Cleanup E2E jobs for 1.21
  kinder/ci/workflows/discovery-1.21.yaml
  kinder/ci/workflows/external-ca-1.21.yaml
  kinder/ci/workflows/external-etcd-1.21.yaml
  kinder/ci/workflows/regular-1.21.yaml
  kinder/ci/workflows/skew-1.22-on-1.21.yaml
  kinder/hack/update-workflows.sh
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/kinder
