Repository kubernetes/kubeadm, pull requests merged in 2022-04, with the labels that each got.

#2678 remove SIG / kubeadm label from OWNERS files
  OWNERS
  kinder/OWNERS
Labels: priority/backlog, kind/cleanup, cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/kinder, area/kubeadm

#2673 Add dry run e2e tests
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-dryrun.yaml
  kinder/ci/tools/update-workflows/templates/workflows/dryrun-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/dryrun.yaml
  kinder/ci/workflows/dryrun-latest.yaml
  kinder/ci/workflows/dryrun-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/cluster-lifecycle, approved, area/kinder, area/kubeadm

#2688 kinder: ensure the container runtime is started before executing dryrun e2e test
  kinder/ci/tools/update-workflows/templates/workflows/dryrun-tasks.yaml
  kinder/ci/workflows/dryrun-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XS, kind/failing-test, approved, area/kinder
