Repository kubernetes/kubeadm, pull requests merged in 2023-12, with the labels that each got.

#2976 fixed broken links in documents under design
  docs/design/design_v1.10.md
  docs/design/design_v1.7.md
  docs/design/design_v1.8.md
  docs/design/design_v1.9.md
Labels: priority/backlog, cncf-cla: yes, lgtm, size/M, approved, kind/documentation

#2979 kinder: remove parallel code during node creation
  kinder/pkg/cluster/manager/create.go
Labels: priority/backlog, kind/cleanup, cncf-cla: yes, lgtm, size/M, approved, area/kinder

#2969 kinder: optimize the preparation of upgrade artifacts
  kinder/pkg/build/alter/alter.go
  kinder/pkg/build/bits/initBits.go
Labels: priority/backlog, kind/cleanup, cncf-cla: yes, lgtm, size/M, approved, area/kinder

#2966 kinder: remove the handling of 1.25 and older versions of k8s
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/cluster/manager/actions/waiter.go
  kinder/pkg/constants/constants.go
  kinder/pkg/cri/host/archive.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder

#2973 kinder: call "upgrade plan" before "upgrade apply"
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-latest-no-addon-config-maps.yaml
  kinder/ci/workflows/upgrade-latest-no-addon-config-maps.yaml
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Labels: priority/backlog, cncf-cla: yes, lgtm, size/S, kind/feature, approved, area/kinder
