Repository kubernetes/kubeadm, pull requests merged in 2023-08, with the labels that each got.

#2909 add some refer for kubeadm operator
  operator/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved

#2911 Revert "kinder: use eks cluster in test-infra jobs"
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-addons.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-discovery.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-dryrun.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-ca.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-external-etcd.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-kubelet-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-learner-mode.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-patches.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-rootless.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade-addons-before-controlplane.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-x-on-y.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/kinder

#2914 kinder: compatible with Docker CLI 24.0.5+
  kinder/pkg/cluster/status/cluster.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/kinder

#2918 fix broken links to testgrid dashboard
  docs/managing-e2e-tests.md
  docs/release-cycle.md
  tests/e2e/README.md
  tests/e2e/manifests/README.md
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/S, approved, kind/documentation, ok-to-test
