Repository kubernetes/kubeadm, pull requests merged in 2023-05, with the labels that each got.

#2874 fix: Add support for removing unsupported architectures
  tests/e2e/manifests/verify_manifest_lists.go
Labels: kind/bug, cncf-cla: yes, lgtm, size/M, approved

#2872 fix: use dl.k8s.io, not kubernetes-release bucket
  docs/testing-pre-releases.md
  kinder/pkg/extract/extract.go
  tests/e2e/manifests/verify_manifest_lists.go
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/M, approved, area/kinder

#2878 docs: cleanup reference to `/cluster/` scripts
  docs/testing-pre-releases.md
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/S, approved

#2884 Add e2e test for UpgradeAddonsBeforeControlPlane feature gate
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade-addons-before-controlplane.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-addons-before-controlplane-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-addons-before-controlplane.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.27-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-tasks.yaml
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder
