Repository kubernetes/kubeadm, pull requests merged in 2023-11, with the labels that each got.

#2949 kinder: add workflow for testing super-admin.conf
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-super-admin.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin.yaml
  kinder/ci/workflows/super-admin-latest.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Labels: priority/important-soon, cncf-cla: yes, lgtm, area/test, size/XL, approved, area/kinder

#2951 kinder: fix missing quotes in super-admin-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/S, kind/failing-test, approved, area/kinder

#2953 Update skew change in v1.29 from n-1 to n-3
  kinder/ci/kubeadm-periodic.tests.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder

#2960 kinder: add tests for /etc/kubernetes/pki/apiserver-kubelet-client.crt
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/kinder

#2962 kinder: do proper cleanup in the super-admin-tasks.yaml workflow
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Labels: kind/bug, cncf-cla: yes, lgtm, size/S, approved, area/kinder

#2963 kinder: double-quote 'rm -f' paths to avoid single quotes
  kinder/ci/tools/update-workflows/templates/workflows/super-admin-tasks.yaml
  kinder/ci/workflows/super-admin-tasks.yaml
Labels: cncf-cla: yes, priority/critical-urgent, lgtm, size/S, kind/failing-test, approved, area/kinder

#2968 Update ha-considerations.md
  docs/ha-considerations.md
Labels: cncf-cla: yes, lgtm, area/HA, size/XS, approved, kind/documentation, ok-to-test

#2972 kinder: update the usage of build command
  kinder/cmd/kinder/build/build.go
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/kinder
