Repository kubernetes/kubeadm, pull requests merged in 2024-11, with the labels that each got.

#3120 kinder: add tasks file for all workflows
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/workflows/presubmit-upgrade-latest.yaml
  kinder/ci/tools/update-workflows/templates/workflows/presubmit-upgrade-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-no-addon-config-maps-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-no-addon-config-maps.yaml
  kinder/ci/workflows/presubmit-upgrade-latest.yaml
  kinder/ci/workflows/presubmit-upgrade-tasks.yaml
  kinder/ci/workflows/upgrade-no-addon-config-maps-latest.yaml
  kinder/ci/workflows/upgrade-no-addon-config-maps-tasks.yaml
Labels: kind/cleanup, cncf-cla: yes, lgtm, size/XL, approved, area/kinder

#3116 kubeadm: enable join dryrun e2e tests
  kinder/ci/tools/update-workflows/templates/workflows/dryrun-tasks.yaml
  kinder/ci/workflows/dryrun-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/kinder

#3123 kubeadm: increase timeout for dryrun-without-cluster
  kinder/ci/tools/update-workflows/templates/workflows/dryrun-tasks.yaml
  kinder/ci/workflows/dryrun-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder
