Repository kubernetes/kubeadm, pull requests merged in 2024-07, with the labels that each got.

#3086 kinder: use "--config" for kubeadm "reset" and "upgrade"
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-reset.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/kubeadm/componentpatches.go
  kinder/pkg/kubeadm/config.go
Labels: priority/important-soon, cncf-cla: yes, lgtm, area/test, size/L, kind/feature, approved, area/kinder

#3088 kinder: fix typo in kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
Labels: kind/bug, priority/important-soon, cncf-cla: yes, lgtm, size/XS, kind/failing-test, approved, area/kinder

#3080 kinder: add test workflow for testing ControlPlaneKubeletLocalMode feature gate
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-control-plane-local-kubelet-mode.yaml
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-latest.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/kinder
