Repository kubernetes/kubeadm, pull requests merged in 2024-12, with the labels that each got.

#3126 Add e2e test for kubelet instance config
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-instance-config.yaml
  kinder/ci/tools/update-workflows/templates/workflows/instance-config-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/instance-config.yaml
  kinder/ci/workflows/instance-config-latest.yaml
  kinder/ci/workflows/instance-config-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/kinder

#3134 kubeadm: update owners for v1.33
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3139 replenish e2e test for kubelet instance config
  kinder/ci/tools/update-workflows/templates/workflows/instance-config-tasks.yaml
  kinder/ci/workflows/instance-config-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder

#3141 move ignore preflight checks from flag to kubeadm configurations
  kinder/pkg/cluster/manager/actions/actions.go
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/actions/kubeadm-join.go
  kinder/pkg/cluster/manager/actions/kubeadm-reset.go
  kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/config.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder
