Repository kubernetes/kubeadm, pull requests merged in 2024-05, with the labels that each got.

#3058 Update pull.go: Fix Typo, And a suggestion
  kinder/pkg/cri/host/pull.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/kinder

#3057 kinder: prepull the kindnet image when building the node image
  kinder/pkg/build/alter/alter.go
  kinder/pkg/cluster/manager/actions/assets/kindnet.go
Labels: priority/backlog, cncf-cla: yes, lgtm, size/XS, kind/feature, approved, area/kinder

#3063 Remove upgrade-addons-before-controlplane e2e test
  kinder/ci/tools/update-workflows/config.yaml
  kinder/ci/tools/update-workflows/templates/testinfra/kubeadm-kinder-upgrade-addons-before-controlplane.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-addons-before-controlplane-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-addons-before-controlplane.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-1.30-latest.yaml
  kinder/ci/workflows/upgrade-addons-before-controlplane-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder

#3060 Update haproxy and keepalived config
  docs/ha-considerations.md
Labels: cncf-cla: yes, lgtm, size/M, approved, kind/documentation, ok-to-test

#3056 kinder: include upgrades and cluster-info in external CA workflows
  kinder/ci/tools/update-workflows/templates/workflows/external-ca-tasks.yaml
  kinder/ci/workflows/external-ca-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder

#3066 add carlory as reviewer
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved
