Repository kubernetes/kubeadm, pull requests merged in 2025-03, with the labels that each got.

#3168 kubeadm: fix periodic-kubernetes-e2e-manifest-lists failing test
  tests/e2e/manifests/verify_manifest_lists.go
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3170 print go version and update to go 1.24 of verify-manfiest-lists.sh
  kinder/ci/kinder-run.sh
  tests/e2e/manifests/verify_manifest_lists.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder

#3169 bump some deps
  kinder/go.mod
  kinder/go.sum
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/kubeadm/patch.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/kinder
