Repository kubernetes/kubeadm, pull requests merged in 2025-05, with the labels that each got.

#3198 add HirazawaUi to kubeadm approvers
  OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved

#3203 ci(kinder): Upgrade encryption algorithm to ECDSA-P384
  kinder/ci/tools/update-workflows/templates/workflows/encryption-algorithm-tasks.yaml
  kinder/ci/workflows/encryption-algorithm-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/kinder

#3204 kinder: update version to v1.0.0
  kinder/cmd/kinder/version/version.go
  kinder/pkg/constants/constants.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder
