Repository kubernetes/kubeadm, pull requests merged in 2025-01, with the labels that each got.

#3138 kinder: improve the no-addons workflow
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-no-addon-config-maps-tasks.yaml
  kinder/ci/workflows/upgrade-no-addon-config-maps-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/M, kind/feature, approved, area/kinder

#3143 exit 0 after checking addon configmap existences
  kinder/ci/tools/update-workflows/templates/workflows/upgrade-no-addon-config-maps-tasks.yaml
  kinder/ci/workflows/upgrade-no-addon-config-maps-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/kinder

#3148 docs: don't reference gs://k8s-release-dev/ci/
  docs/testing-pre-releases.md
Labels: priority/backlog, kind/cleanup, cncf-cla: yes, lgtm, size/XS, approved, kind/documentation

#3150 Update ControlPlaneKubeletLocalMode test for the feature gate being disabled
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-latest.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-tasks.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/kinder
