Repository kubernetes/kubeadm, pull requests merged in 2025-02, with the labels that each got.

#3156 Revert "Update ControlPlaneKubeletLocalMode test for the feature gate being disabled"
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-latest.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-tasks.yaml
Labels: cncf-cla: yes, size/M, kind/failing-test, approved, area/kinder

#3157 Update ControlPlaneKubeletLocalMode test for the feature gate being disabled and fix setup-external-ca in kinder
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/control-plane-local-kubelet-mode.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-latest.yaml
  kinder/ci/workflows/control-plane-local-kubelet-mode-tasks.yaml
  kinder/pkg/cluster/manager/actions/setup-external-ca.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/kinder

#3158 kinder: switch WaitForAllControlPlaneComponents workflow to false
  kinder/ci/tools/update-workflows/templates/workflows/wait-for-all-control-plane-components-tasks.yaml
  kinder/ci/tools/update-workflows/templates/workflows/wait-for-all-control-plane-components.yaml
  kinder/ci/workflows/wait-for-all-control-plane-components-latest.yaml
  kinder/ci/workflows/wait-for-all-control-plane-components-tasks.yaml
Labels: priority/important-soon, cncf-cla: yes, lgtm, area/test, size/S, kind/feature, approved, area/kinder
